<head>
    @*     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" />

    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" /> *@
</head>
<body>
    <div class="best-rooms py-5">
        <div class="container py-md-5">
            <div class="ban-content-inf row">
                <div class="maghny-gd-1 col-lg-6">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius  m-0">
                            <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g10.jpg" alt="" />
                            <figcaption>
                                <div>
                                    <h4>Popüler Seyahat Noktalaları </h4>
                                    <p>Sizin İçin Oluşturuldu </p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                    <div class="row">
                        <div class="maghny-gd-1 col-6">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g11.jpg" alt="" />

                                    <figcaption>
                                        <div>
                                            <h4 style="display:flex">
                                                Paris &nbsp;
                                                <img src="~/Traversal-Starter/assets/images/flags/france.png" style="width:25px;height:25px" />
                                            </h4>
                                            <p>Başlangıç Fiyatı: 20.000₺ </p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="maghny-gd-1 col-6">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g12.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4 style="display:flex">
                                                Londra &nbsp;
                                                <img src="~/Traversal-Starter/assets/images/flags/united-kingdom.png" style="width:25px;height:25px" />
                                            </h4>
                                            <p>Başlangıç Fiyatı: 21.500₺ </p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="maghny-gd-1 col-6 mt-4">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g13.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4 style="display:flex">
                                                Seul &nbsp;
                                                <img src="~/Traversal-Starter/assets/images/flags/south-korea.png" style="width:25px;height:25px" />
                                            </h4>
                                            <p>Başlangıç Fiyatı: 25.000₺ </p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="maghny-gd-1 col-6 mt-4">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g14.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4 style="display:flex">
                                                Berlin &nbsp;
                                                <img src="~/Traversal-Starter/assets/images/flags/germany.png" style="width:25px;height:25px" />
                                            </h4>
                                            <p>Başlangıç Fiyatı: 9.750₺ </p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
