
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>PDF Raporları Sayfası</h2>
<br />
<a href="/PdfReport/StaticPdfReport" class="btn btn-outline-info">Statik PDF Raporu</a>
<br />
<br />
<a href="/PdfReport/StaticCustomerReport/" class="btn btn-outline-primary">Statik Misafir PDF Raporu</a>
