@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<head>
    <meta charset='utf-8' />
    <link href="/lib/fullcalendar/main.css" rel="stylesheet" />
</head>

<body>
@*     <select class="form-control" onchange="titleChanged(this)">
        <option value="">Tümü</option>
        @foreach (var item in ViewBag.TitleList)
        {
            <option value="@item">@item</option>
        }
    </select> 
 *@    <label class="form-control mt-12">@ViewBag.TitleList</label>
    <div id='calendar'></div>
</body>

<script src='/lib/fullcalendar/main.js'></script>
<script>
    var title = "";
    var calendar;

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'tr',
            eventSources: [
                {
                    url: '/Calendar/GetData',
                    method: 'POST',
                    extraParams: function () {
                        return {
                            title: title
                        }
                    },
                    success: function (response) {
                        console.log(response);
                        return response;
                    },
                    failure: function () {
                        // alert('there was an error while fetching events!');
                    }
                }
            ]
        });
        calendar.render();
    });

    function titleChanged(e) {
        titleChanged = e.value;
        calendar.refetchEvents();
    }

</script>
