@{
    ViewData["Title"] = "Traversal | Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Page"] = "Dashboard";
}

<div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">

    @await Component.InvokeAsync("_BannerPartial")

    <div class="container-fluid py-4">
        <div class="row">
            @await Component.InvokeAsync("_PlatformSetting")

            @await Component.InvokeAsync("_ProfileInformation")

            @await Component.InvokeAsync("_GuideList")

            @await Component.InvokeAsync("_LastDestinations")
        </div>
    </div>
</div>