<div class="col-md-6 col-lg-4 order-1 mb-4">
    <div class="card h-100">
        <div class="card-header">
            <div class="card-title mb-3">
                <h5 class="m-0 me-2">Sosyal</h5>
            </div>
        </div>
        <div class="card-body">
            <!-- Connections -->
            <ul class="p-0 m-0">
                <li class="d-flex mb-4 pb-1">
                    <div class="flex-shrink-0">
                        <img src="~/sneat-1.0.0/assets/img/icons/brands/facebook.png"
                             class="me-3"
                             height="30" />
                    </div>
                    <div class="flex-grow-1 row">
                        <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                            <h6 class="mb-0">Facebook</h6>
                            <small class="text-muted">Bağlanmadı</small>
                        </div>
                        <div class="col-4 col-sm-5 text-end">
                            <button type="button" class="btn btn-icon btn-outline-secondary">
                                <i class="bx bx-link-alt"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="p-0 m-0">
                <li class="d-flex mb-4 pb-1">
                    <div class="flex-shrink-0">
                        <img src="~/sneat-1.0.0/assets/img/icons/brands/instagram.png"
                             class="me-3"
                             height="30" />
                    </div>
                    <div class="flex-grow-1 row">
                        <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                            <h6 class="mb-0">Instagram</h6>
                            <small class="text-muted">Bağlanmadı</small>
                        </div>
                        <div class="col-4 col-sm-5 text-end">
                            <button type="button" class="btn btn-icon btn-outline-secondary">
                                <i class="bx bx-link-alt"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="p-0 m-0">
                <li class="d-flex mb-4 pb-1">
                    <div class="flex-shrink-0">
                        <img src="~/sneat-1.0.0/assets/img/icons/brands/twitter.png"
                             class="me-3"
                             height="30" />
                    </div>
                    <div class="flex-grow-1 row">
                        <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                            <h6 class="mb-0">Twitter</h6>
                            <small class="text-muted">Bağlanmadı</small>
                        </div>
                        <div class="col-4 col-sm-5 text-end">
                            <button type="button" class="btn btn-icon btn-outline-secondary">
                                <i class="bx bx-link-alt"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="p-0 m-0">
                <li class="d-flex mb-4 pb-1">
                    <div class="flex-shrink-0">
                        <img src="~/sneat-1.0.0/assets/img/icons/brands/github.png"
                             class="me-3"
                             height="30" />
                    </div>
                    <div class="flex-grow-1 row">
                        <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                            <h6 class="mb-0">Github</h6>
                            <small class="text-muted">Bağlanmadı</small>
                        </div>
                        <div class="col-4 col-sm-5 text-end">
                            <button type="button" class="btn btn-icon btn-outline-secondary">
                                <i class="bx bx-link-alt"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="p-0 m-0">
                <li class="d-flex mb-4 pb-1">
                    <div class="flex-shrink-0">
                        <img src="~/sneat-1.0.0/assets/img/icons/brands/linkedin.png"
                             class="me-3"
                             height="30" />
                    </div>
                    <div class="flex-grow-1 row">
                        <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                            <h6 class="mb-0">LinkedIn</h6>
                            <small class="text-muted">Bağlanmadı</small>
                        </div>
                        <div class="col-4 col-sm-5 text-end">
                            <button type="button" class="btn btn-icon btn-outline-secondary">
                                <i class="bx bx-link-alt"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="p-0 m-0">
                <li class="d-flex mb-4 pb-1">
                    <div class="flex-shrink-0">
                        <img src="~/sneat-1.0.0/assets/img/icons/brands/google.png"
                             class="me-3"
                             height="30" />
                    </div>
                    <div class="flex-grow-1 row">
                        <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                            <h6 class="mb-0">Google</h6>
                            <small class="text-muted">Bağlanmadı</small>
                        </div>
                        <div class="col-4 col-sm-5 text-end">
                            <button type="button" class="btn btn-icon btn-outline-secondary">
                                <i class="bx bx-link-alt"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="p-0 m-0">
                <li class="d-flex mb-4 pb-1">
                    <div class="flex-shrink-0">
                        <img src="~/sneat-1.0.0/assets/img/icons/brands/slack.png"
                             class="me-3"
                             height="30" />
                    </div>
                    <div class="flex-grow-1 row">
                        <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                            <h6 class="mb-0">Slack</h6>
                            <small class="text-muted">Bağlanmadı</small>
                        </div>
                        <div class="col-4 col-sm-5 text-end">
                            <button type="button" class="btn btn-icon btn-outline-secondary">
                                <i class="bx bx-link-alt"></i>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- /Connections -->
        </div>
    </div>
</div>