
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />


<h2 style="text-align:center">Excel Raporları</h2>
<br />
<a href="/Excel/StaticExcelReport/" class="btn btn-outline-info">Statik Excel Raporu</a>
<br />
<br />
<a href="/Excel/DestinationExcelReport/" class="btn btn-outline-primary">Tur Rotaları Excel Raporu</a>
