<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">İstatistikler</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
            <div class="heading-elements">
                <span class="avatar">
                    <img src="~/member/theme-assets/images/portrait/small/avatar-s-2.png" alt="avatar">
                </span>
            </div>
        </div>
        <div class="card-content">
            <div class="card-body">
                <h4>Kişisel İstatistiklerim </h4>
                &nbsp;
                <p class="card-text">
                    Toplam Başarısız Giriş:
                </p>
                <p class="card-text">
                    Aktif Rezervasyon Sayınız:
                </p>
                <p class="card-text">
                    Geçmiş Rezervasyon Sayınız:
                </p>
                <p class="card-text">
                    Onay Bekleyen Rezervasyon Sayınız:
                </p>
                &nbsp;
                <h4>Genel İstatistikler </h4>
                &nbsp;
                <p class="card-text">
                    Toplam Rota Sayısı:
                </p>
                <p class="card-text">
                    Toplam Rehber Sayısı:
                </p>
                <p class="card-text">
                    Toplam Ziyaretçi Sayısı:
                </p>
                <p class="card-text">
                    Genel Puan:
                </p>
            </div>
        </div>
    </div>
</div>