@model GetDestinationByIDQueryResult
@{
    ViewData["Title"] = "GetDestination";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

<style>

    h2 {
        text-align: center;
    }

    #backButton {
    }

    #updateButton {
        position: absolute;
        right: 110px
    }

</style>


<h2>ŞEHİR - ROTA GÜNCELLE CQRS</h2>


<form method="post">
    @Html.HiddenFor(x=>x.DestinationID)

    <button class="btn btn-outline-success" id="updateButton"><i class="bi bi-save"></i> Rota Güncelle</button>
    <a href="/Admin/DestinationCQRS/Index" class="btn btn-outline-danger" id="backButton"><i class="bi bi-backspace"></i> Geri</a>
    <br /><br />

    <div class="form-group">
        @Html.Label("Şehir:")
        <input type="text" asp-for="City" class="form-control" />
    </div>
    &nbsp;
    <div class="form-group">
        @Html.Label("Gün - Gece:")
        <input type="text" asp-for="DayNight" class="form-control" />
    </div>
    &nbsp;
    <div class="form-group">
        @Html.Label("Fiyat:")
        <input type="number" asp-for="Price" class="form-control" />
    </div>
</form>
