@using EntityLayer.Concrete
@model List<Destination>

<head>
    <style>
        #scrollDest {
            overflow:scroll;
            width:100%;
            height:400px;
        }
    </style>
</head>
<body>
    <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
        <div class="card h-100">
            <div class="card-header d-flex align-items-center justify-content-between pb-0">
                <div class="card-title mb-3">
                    <h5 class="m-0 me-2">Rotalar</h5>
                    <small class="text-muted">71.5k Onaylanan Satış</small>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <div class="d-flex flex-column align-items-center gap-1">
                        <h3 class="mb-2">@ViewBag.totalPrice ₺</h3>
                        <span>Toplam Tutar</span>
                    </div>
                </div>
                <ul class="p-0 m-0" id="scrollDest">
                    @foreach (var x in Model)
                    {
                        <li class="d-flex mb-4 pb-1">
                            <div class="avatar flex-shrink-0 me-3">
                                @if (x.Price >= 25000)
                                {
                                    <span class="avatar-initial rounded bg-label-danger">
                                        <a href="/Destination/DestinationDetails/@x.DestinationID" target="_blank"><i class="bx bx-map"></i></a>
                                    </span>
                                }
                                else if (x.Price >= 10000 && x.Price < 25000)
                                {
                                    <span class="avatar-initial rounded bg-label-primary">
                                        <a href="/Destination/DestinationDetails/@x.DestinationID" target="_blank"><i class="bx bx-map"></i></a>
                                    </span>
                                }
                                else
                                {
                                    <span class="avatar-initial rounded bg-label-success">
                                        <a href="/Destination/DestinationDetails/@x.DestinationID" target="_blank"><i class="bx bx-map"></i></a>
                                    </span>
                                }

                            </div>
                            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                <div class="me-2">
                                    <h6 class="mb-0">@x.City</h6>
                                    <small class="text-muted">@x.DayNight</small>
                                </div>
                                <div class="user-progress">
                                    <small class="fw-semibold">@x.Price ₺</small>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</body>
