
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <a asp-action="Logout" asp-controller="Login" asp-route-returnUrl="/Login/Signin">Logout</a>
</body>
</html>
