@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>OTELLER İÇİN ŞEHİR ID GETİRME</h2>
<br />

<body>
    <form method="post">
        <label>Şehir Adını Giriniz:</label>
        <input type="text" class="form-control" name="p" />
        <br />
        <button class="btn btn-outline-success">Ara</button>
    </form>
</body>

