@using EntityLayer.Concrete
@model List<Guide>

<style>
    .colorGreen {
        background-color: #2B2;
    }

    #scrollGuide {
        overflow: scroll;
        width: 100%;
        height: 480px;
    }
</style>

<div class="col-md-6 col-lg-4 order-2 mb-4">
    <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="card-title m-0 me-2 mb-3">Rehberler</h5>
        </div>
        <div class="card-body">
            <ul class="p-0 m-0" id="scrollGuide">
                @foreach (var x in Model)
                {
                    <li class="d-flex mb-4 pb-1">
                        <div class="avatar flex-shrink-0 me-3">
                            <a href="/Admin/Guide/Index/" target="_blank"><img src="@x.Image" alt="User" class="rounded" /></a>
                        </div>
                        <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                                <h5 class="mb-0">@x.Name</h5>
                                <small class="text-muted d-block mb-1">@x.Route</small>

                            </div>
                            <div class="user-progress d-flex align-items-center gap-1">
                                @if (x.Status == true)
                                {
                                    <span class="badge badge-center rounded-pill bg-success"> </span>
                                }
                                else
                                {
                                    <span class="badge badge-center rounded-pill bg-danger"> </span>
                                }
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>