@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

<footer class="footer footer-static footer-light navbar-border navbar-shadow">
    <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-left d-block d-md-inline-block">2023  &copy; Copyright <a class="text-bold-800 grey darken-2" href="#" target="_blank">Traversal</a></span>
        <ul class="list-inline float-md-right d-block d-md-inline-blockd-none d-lg-block mb-0">
            <li class="list-inline-item"><a class="my-1" href="#" target="_blank"> @localizer["Kullanım Sözleşmesi"]</a></li>
            <li class="list-inline-item"><a class="my-1" href="#" target="_blank"> @localizer["Gizlilik Sözleşmesi"]</a></li>
            <li class="list-inline-item"><a class="my-1" href="#" target="_blank"> @localizer["KVKK"]</a></li>
        </ul>
    </div>
</footer>