<div class="app-brand demo">
    <a href="/Admin/Dashboard/Index/" class="app-brand-link">
        <span class="app-brand-logo demo">
            <img class="brand-logo" alt="" src="~/sneat-1.0.0/assets/img/favicon/social-engineeringx30.png" />
        </span>
        <span class="app-brand-text demo menu-text fw-bolder ms-2">admin</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
</div>
