<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            ©
            <script>
                document.write(new Date().getFullYear());
            </script>
            ,
            <a href="#" target="_blank" class="footer-link fw-bolder">UFY</a>
            tarafından hazırlandı @*❤️*@
        </div>
        <div>
            <a href="#" class="footer-link me-4" target="_blank">Lisans</a>

            <a href="#"
               target="_blank"
               class="footer-link me-4">SSS</a>

            <a href="#"
               target="_blank"
               class="footer-link me-4">Destek</a>

            <a href="#" target="_blank" class="footer-link me-4">Daha Fazla</a>
        </div>
    </div>
</footer>